[2020-06-24 11:13] smunaut opened #29 ""TypeError: list indices must be integers or slices, not str" in timing importer"
Trying to build aa65abdeb8754f60f425ca4ecfa03c176104e90f

[code]

[2020-06-24 11:25] smunaut commented on #29
I had to update the ql-pp3e submodule to make it build.
Fix is 2e1174aea2f52717570ef7522ac5483fe06363bd of that module

[2020-06-24 13:31] smunaut opened #30 ""UnboundLocalError: local variable 'block_name' referenced before assignment" during place VPR pass."
[code]

[2020-06-24 14:30] smunaut commented on #30
`block_name` should be `block_names` on that line.

[2020-07-03 12:33] tpagarani opened #67 "RAM/FIFO setup/hold/Tco modeled on ports instead of individual bits"
Quicklogic RAM/FIFO setup/hold/Tco timing has significant variation across different bits of Input and Output ports.
Currently VPR models the timing for the whole port using max/min delays out of all the bits.
It needs to be extended to support individual bit signal timing

[2020-07-03 14:10] tpagarani opened #68 "Gmux delays not accounted for in clock source latency"
Attaching snapshop of timing report from symbiflow-arch-defs/quicklogic/pp3/tests/gclk_counter

Timing report of worst 52 path(s)
# Unit scale: 1e-09 seconds
# Output precision: 3

#Path 1
Startpoint: cnt0_dff_Q_22.QZ[0] (Q_FRAG clocked by $auto$clkbufmap.cc:247:execute$1672)
Endpoint  : cnt0_dff_Q.QDI[0] (Q_FRAG clocked by $auto$clkbufmap.cc:247:execute$1672)
Path Type : setup

Point

[2020-07-06 08:16] mkurc-ant commented on #67
This pull request should fix the issue: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/71

[2020-07-07 13:45] mkurc-ant commented on #30
@smunaut Should be already fixed from `cb1c8b3cf` on

[2020-07-07 14:52] mkurc-ant commented on #68
I've found that the issue is caused by incorrect model of the GMUX. VPR does not know that it is a clock buffer https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#clock-buffers-muxes.

The solution is straightforward but requires modifications to V2X to express some constructs required by VPR using Verilog. It is currently being worked on.

[2020-07-07 14:53] smunaut commented on #30
Yup

[2020-07-07 14:53] #30 closed

[2020-07-11 04:22] tpagarani opened #77 "Fasm2bel errrors out with latest changes done for Clock network support"
Test case: symbiflow-arch-defs/quicklogic/pp3/tests/Design_Using_FIFO_Block

Traceback (most recent call last):
  File "/adhome/lsharma/git_work/quicklogic-corp/symbiflow-arch-defs/quicklogic/common/utils/fasm2bels.py", line 988, in <module>
    verilog, pcf, qcf = f2b.convert_to_verilog(fasmlines)
  File "/adhome/lsharma/git_work/quicklogic-corp/symbiflow-arch-defs/quicklogic/common/utils/fasm2be

[2020-07-17 08:34] mkurc-ant commented on #77
There is an open PR with the fix for this issue.

[2020-07-27 05:33] kkumar23 opened #96 "qlfasm file has hardcoded python path"
make install copies the qlfasm file to <install_path>/bin/python
The qlfasm file will retain the python3 path of the compilation path. It would result in error when user runs.

/mnt/c/Users/saxe/Documents/ActiveProjects/symbiflow/install/bin/write_bitstream: /mnt/c/Users/saxe/Documents/ActiveProjects/symbiflow/install/bin/python/qlfasm: /home/kkumar/symbiflow-arch-defs/build/env/conda/bin/python3:

[2020-07-27 05:35] kkumar23 opened #97 "all_ql_tests target shows errors"
The target all_ql_tests shows up errors while running for various designs. Needs to be fixed.

[2020-08-03 12:32] kkumar23 opened #103 "fasm2bels.py shows up errors"
Run designs : QuickLogic-testsuit/ram_test or fifo_test for target bit_v/analysis

Symbiflow shows the below error:
 File "/home/travis/build/QuickLogic-Corp/symbiflow-arch-defs/quicklogic/common/utils/fasm2bels.py", line 1048, in <module>
17680    verilog, pcf, qcf = f2b.convert_to_verilog(fasmlines)
17681  File "/home/travis/build/QuickLogic-Corp/symbiflow-arch-defs/quicklogic/common/utils/fasm2

[2020-08-09 14:38] tpagarani opened #109 "Significant Degradation in Timing with Utilization improvements"
Recently there have been PR merged to improve the Utilization.

https://github.com/QuickLogic-Corp/yosys/pull/10

There is significant degradation in Delay parameters like Critical path, TNS.
I have attached the report with and without recent improvements in mux and pack.

[07-28-2020_design_run_results.xlsx](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/5047672/07-28-2020_design_ru

[2020-08-09 14:45] tpagarani opened #110 "Design failing in router"
After implementation of Mux and pack optimization in Yosys, following design is passing through packer however it fails in router

https://github.com/QuickLogic-Corp/symbiflow-arch-defs/tree/quicklogic-upstream-rebase/quicklogic/pp3/tests/quicklogic_testsuite/design2

"Circuit is unroutable with a channel width factor of 100. VPR failed to implement circuit"

[2020-08-09 14:46] #67 closed

[2020-08-09 14:46] tpagarani commented on #67
This has been fixed

[2020-08-09 14:46] #77 closed

[2020-08-09 14:47] #68 closed

[2020-08-11 14:06] acomodi commented on #97
After fixing the some of the issues with CI, I ran the `all_ql_tests` target using ninja and got the following failed tests, which can be divided in four sub-categories:

1. IO placement script failing to find a net:
[code]

The error returned looks like the following:
[code]

I believe this might be a synthesis issue. The problem here is that the `I(0)` input is unconnected in the .eblif, hence i

[2020-08-11 14:17] acomodi commented on #97
Update:

The error 4) is solved here https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/113.

@kkumar23 Do you happen to know what is the correct timing file for the ram of the ql-PP3 device? At the moment I am have set RAM_COM_BC_120V

Also, do you recall why the following line was needed? https://github.com/QuickLogic-Corp/symbiflow-arch-defs/blob/da040dd93fca9d6928b77e30987e6b6b88b69e1

[2020-08-12 07:50] kkumar23 commented on #97
Travis CI is in red for this commit.

From: Alessandro Comodi <notifications@github.com>
Sent: 11 August 2020 19:48
To: QuickLogic-Corp/symbiflow-arch-defs <symbiflow-arch-defs@noreply.github.com>
Cc: Kishor Kumar <KKumar@quicklogic.com>; Mention <mention@noreply.github.com>
Subject: Re: [QuickLogic-Corp/symbiflow-arch-defs] all_ql_tests target shows errors (#97)

Update:

The error 4) is solved h

[2020-08-12 09:18] acomodi commented on #97
@kkumar23 Fixed with https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/117

[2020-08-13 15:56] acomodi commented on #97
If using https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/121 the remaining failing tests are all relative to the packer. The failures during packing can be divided in two categories:

1. Issue with constant nets that do not have a driver. This happens prior to packing at it occurs when reading the netlist (could be a synthesis issue or a circuit cleaning issue made in VPR, unsure at th

[2020-08-13 16:05] acomodi commented on #97
Regarding 1) from the above comment though, the issue might be later in the flow, and not related to the synthesized net, as it happens after generating the packed netlist:

[code]

[2020-08-13 16:13] acomodi commented on #110
This should be fixed with the last two commits of https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/121 (17c411c and da794e8). More details on this issue comment: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/97#issuecomment-673560981

[2020-08-13 17:58] kkumar23 opened #122 "synth.tcl has hardcoded paths"
Couple of issues:
1) Synth.tcl has the path hardcoded "source $::env(symbiflow-arch-defs_SOURCE_DIR)/quicklogic/pp3/yosys/pack.tcl" , this does not work with Symbiflow installer
2) The variable has symbiflow-arch-defs_SOURCE_DIR, character '-' is not supported , we can use '_'.
3) Add pack.tcl in the installation as well

[2020-08-17 12:13] acomodi commented on #96
If I am not mistaken, qlfasm can be installed in conda (the quicklogic-fasm project has a setup.py script) I believe that the copy of the qlfasm file is not required if it gets installed using conda.

[2020-08-19 16:06] mkurc-ant commented on #122
With the PR merged the issue is fixed. The `pack.tcl` is now installed alongside with other scripts. It is invoked using TCL script path discovery so no need for env variable lookup.

[2020-08-19 16:08] mkurc-ant commented on #103
The PR is merged and the issue solved. The cause was lack of definition of some connections to QMUX in fasm2bels.

[2020-08-19 17:26] acomodi commented on #110
I have double checked and re-run the design2 test and, with the current quicklogic-upstream-rebase status (https://github.com/QuickLogic-Corp/symbiflow-arch-defs/commit/5a6f743328c735c33f4aff760ffa524febbb6559) the tests correctly routes

[2020-08-19 17:30] acomodi opened #132 "Some of the quicklogic tests fail in packing"
This issue is a continuation  of https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/97.

The all_ql_tests now pass except for some designs which have an over-utilization of resources and do not fit the device:

[code]

[2020-08-19 17:31] acomodi commented on #97
Closing this issue as it is superseded by https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/132

[2020-08-19 17:31] #97 closed

[2020-08-19 17:31] acomodi commented on #96
Fixed with https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/124. Closing

[2020-08-19 17:31] #96 closed

[2020-08-19 17:31] #110 closed

[2020-08-24 13:47] mkurc-ant commented on #109
This issue can be mitigated by enabling LUT4 inference in ABC and increasing their cost via `abc -luts 1,2,2,4:8`. The drawback is increased pos-synthesis design sizes.

Here are the results: [results.xlsx](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/5118205/results.xlsx)

[2020-08-26 08:29] #122 closed

[2020-08-26 08:30] kkumar23 commented on #122
fixed

[2020-08-26 08:30] #103 closed

[2020-08-26 10:57] mkurc-ant commented on #132
With this PR https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/138 the `iir` design should pack. It had missing incorrect IO constraints.

[2020-08-26 15:15] mkurc-ant commented on #109
Should have been fixed by https://github.com/QuickLogic-Corp/yosys/pull/14

[2020-09-11 04:30] kkumar23 opened #160 "Unable to route the design [tests/quicklogic_testsuite/wbqspiflash]"
The design tests/quicklogic_testsuite/wbqspiflash, fails while routing:
Circuit is unroutable with a channel width factor of 100.
VPR failed to implement circuit
The entire flow of VPR took 2349.41 seconds (max_rss 631.6 MiB)
+ rm vpr.output.IkH

[2020-09-16 09:00] kgugala commented on #160
I ran the test targeting Quickfeather using `3393d6b32cbb3ecc779b7c0a953fd6963987e1a2` arch-defs commit. With VPR from conda channel and quicklogic-yosys commit `8a51c9cbb843fd1cf75727fa08f8a0314e97c98b`.

I was able to generate bitstream. Will also check this for chandalar.

@kkumar23 can you list the exact version of the tools you're using?

[2020-09-16 09:20] kgugala commented on #160
chandalar test also generates bitstream with the above tools revisions

[2020-09-16 12:09] kkumar23 commented on #160
@kgugala It is routing with latest version. However the release version does not route. We can close this,

[2020-09-16 12:09] #160 closed

[2020-09-25 06:56] dependabot-preview[bot] opened #163 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/QuickLogic-Corp) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/QuickLogic-Corp/update-logs/48709552).

[2020-09-28 06:43] #163 closed

[2020-09-29 12:51] #109 closed

[2020-09-29 12:52] tpagarani commented on #109
This issue was fixed

[2020-10-07 14:51] kkumar23 opened #169 "Missing expected argument for --fix_pins after integrating the master+wip vtr"
Make install symbiflow-arch-def and run the below command on any testcase, say counter_16bit

ql_symbiflow -compile -d ql-eos-s3 -P pd64 -v counter_16bit.v -t top -p chandalar.pcf

Missing expected argument for --fix_pins

usage: vpr architecture circuit [--pack] [--place] [--route] [--analysis]
       [--disp {on, off}] [--save_graphics {on, off}]
       [--graphics_commands GRAPHICS_COMMANDS] [-

[2020-10-14 18:29] #169 closed

[2020-10-15 07:54] kkumar23 opened #171 "make install target has issues"
make install DESTDIR=_install location_
Shows the below error:
EOFError: Ran out of input
quicklogic/pp3/CMakeFiles/file_quicklogic_pp3_chandalar_clkmap.csv.dir/build.make:81: recipe for target 'quicklogic/pp3/chandalar_clkmap.csv' failed
quicklogic/pp3/CMakeFiles/file_quicklogic_pp3_quickfeather_clkmap.csv.dir/build.make:81: recipe for target 'quicklogic/pp3/quickfeather_clkmap.csv' failed

[2020-10-15 08:33] acomodi commented on #171
Hi @kkumar23,
Running
[code]

Worked correctly for me on https://github.com/QuickLogic-Corp/symbiflow-arch-defs/commit/a7c45b18e26415fe097e28a651263c62bdeb75e1.

Can you please provide a version of SymbiFlow arch defs that is generating the error, and the exact steps to reproduce?

[2020-10-15 08:58] acomodi commented on #171
I could reproduce the issue using `make` instead of `ninja` with a number of jobs > 1.

I recall having the same issue when trying to get CI green.

The fact is that, having multiple jobs build, generates dependency issues with the clkmap generation as the script is being run even though the database creation has not yet completed the `pickle` file writing process, ending up in the following error

[2020-10-15 08:58] kkumar23 commented on #171
@acomodi : Here are the details:
Branch : quicklogic-upstream-rebase
https://github.com/QuickLogic-Corp/symbiflow-arch-defs/commit/a7c45b18e26415fe097e28a651263c62bdeb75e1
make env;make all_conda
make DESTDIR="some location" install

Ubuntu 18.04 LTS (Windows VM)

[2020-10-15 09:25] kkumar23 commented on #171
@acomodi : Single job may take more time. As of now i can proceed. Any plan to fix this?
ninja i am using for Travis, i can use for local systems.

[2020-10-15 10:40] acomodi commented on #171
@kkumar23 I am looking into it. I think dependencies for the clkmap and pinmap files should be on the targets rather then the generated files.

[2020-10-15 13:58] kkumar23 commented on #171
@acomodi : With the new vpr, i get the below error when run through the make install toolchain scripts:

Missing expected argument for --fix_pins

usage: vpr architecture circuit [--pack] [--place] [--route] [--analysis]
       [--disp {on, off}] [--save_graphics {on, off}]
       [--graphics_commands GRAPHICS_COMMANDS] [-h] [--version]
       [--device DEVICE_NAME] [-j NUM_WORKERS] [--timing_anal

[2020-10-15 14:06] acomodi commented on #171
@kkumar23 This commit solves the issue: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/172/commits/19395df7e9f83b371d2ebba72d3905e193e6a5cc

You can test it locally by manually changing the symbiflow_place toolchain wrapper and apply the same fix

[2020-10-15 14:24] kkumar23 commented on #171
@acomodi : Thanks.

[2020-10-28 12:41] #171 closed

[2020-10-29 11:39] kkumar23 opened #176 "openocd: textx.exceptions.TextXSyntaxError: None:12647:1: error: Expected Newline"
Run the design for the target design3-ql-chandalar_openoc : quicklogic/pp3/tests/quicklogic_testsuite/design3/
It fails with the below messages on the GH actions.

textx.exceptions.TextXSyntaxError: None:12647:1: error: Expected Newline or S or Identifier or S or '{' or S or '#' or Newline or EOF at position /home/runner/work/symbiflow-arch-defs/symbiflow-arch-defs/build/quicklogic/pp3/tests/quick

[2020-12-10 02:56] kkumar23 opened #183 "PCF file with CRLF(created on windows) shows error"
Create a pcf file on windows and run this pcf along with the design. symbilfow does not accept these IO names.
Support for CRLF is required. Even if a whitespace after the IO_name shows error.
Attached design.

[counter_design.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/5669996/counter_design.zip)

[2020-12-17 05:35] kkumar23 commented on #183
@lnsharma : Assigning to @mkurc-ant

[2021-04-22 06:09] dependabot-preview[bot] opened #202 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/QuickLogic-Corp/update-logs/77564295).

[2021-05-03 08:29] lnsharma opened #234 "Multi corner timing support"
When multiple vpr_arch.xml files are specified, corresponding to a specific timing corner delay data in it, then symbiflow should run the flow considering CORNER as an input and based on this input, it should run the flow by picking the corresponding vpr_arch.xml.

[2021-05-03 08:31] kkumar23 opened #235 "The IO/clock constraint does not get honored at certain corner cases"
For a design where IO is followed by a Flipflop, the FF is pulled into the IO and registered IO is inferred.
In this case if user wants to constraint the IO clk to some specific clock then the constraint is not honored

[2021-05-03 09:01] lnsharma opened #236 "SDF/Post Layout simulation"
Define verilog models in Symbiflow to enable sdf/post layout simulation. Also, generate sdf file require for post layout simulation.

[2021-05-03 09:04] lnsharma opened #237 "Specify user-defined pin names in SDC"
In eFPGA flow, user should be able to specify user-defined pin-names (as given in csv file) in SDC commands. Currently, SDC commands only accepts device interface port names but not user-defined pin names which are mapped to interface ports.

[2021-05-03 09:05] lnsharma opened #238 "Specify clock constraints in pcf file"
Currently clock constraints are processed through a json file. PCF file should be used even for specifying clock constraints.

[2021-05-03 09:06] lnsharma opened #239 "Generate checksum for 4Byte file"

[2021-05-03 09:55] lnsharma opened #240 "FASM2BELs tool support for qlf_k4n8 device"

[2021-05-04 07:07] lnsharma commented on #234
Following are the different items to be supported for this issue:

1. Write a separate vpr_Arch.xml file (using the specified corner delay data) in OpenFPGA-QLF_K4N8 repo for different corners for qlf_k4n8 device. Generate bitstream database and rr_graph related files.
2. Update bitstream database and rr_graph related files for each corner in qlfpga-symbiflow-plugins repo
3. Introduce a new variab

[2021-05-04 11:28] mkurc-ant commented on #235
@kkumar23 Could you please provide more details like eg. in which of the test designs you see this issue?

I couldn't have reproduced it so far. I took the `io_reg` test design and constrainted `clk` to `io.clk[3]`. Then, I verified the repacked netlist (.net) and confirmed that indeed the net `clk` enters the `io` block through `io.clk[3]`.

I've also verified the output FASM file. It contains th

[2021-05-04 12:15] kkumar23 commented on #235
@mkurc-ant : I reinstalled the package and verified. I see the changes in the fasm file . It was for the io_reg design.

[2021-05-04 12:15] #235 closed

[2021-05-04 12:33] lnsharma opened #242 "CLB equivalence support for qlf_k4n8 device"

[2021-05-04 12:34] kkumar23 commented on #235
@mkurc-ant : can you add the make support for the json. We are using toolchain wrapper as of now.

[2021-05-04 14:12] mkurc-ant commented on #235
@kkumar23 Of course, I will be looking into that.

[2021-05-05 07:55] kkumar23 opened #244 "Testcases failing at router"
Below testcases fail for qlf_k4n8 at router:
#add_subdirectory(multi_enc_decx2x4)
#add_subdirectory(unsigned_mult_60)

[2021-05-05 11:17] rakeshm75 opened #246 "LUT value for the buf implementation is incorrect"
The LUT value for the buf implementation is incorrect (its order reversed). I have attached the repacked eblif file (top.repacked.net) here.

.subckt frac_lut4_arith in[0]=u_cnt3.count_dffr_Q_D[6] lut4_out=u_cnt3.count_dffr_Q_D[6]$buf0
.param LUT 0100000000000000
.param MODE 0

Here LUT value [15:0] should be = 0000000000000001 instead of 0100000000000000

.subckt frac_lut4_arith in[2]=u_cnt3.coun

[2021-05-05 11:49] mkurc-ant commented on #246
@rakeshm75 How have you discovered that it is incorrect? Via simulation done before FASM/bitstream generation of via incorrect bitstream? I'm asking to determine where the issue may be.

Are only buffer LUTs affected or do you see the problem in LUTs used for logic too ?

[2021-05-05 12:02] rakeshm75 commented on #246
Yes, through FASM force bit simulation. Initially, I simulated 16bit counter design and it worked fine. That design had synchronous reset and enable. This is also a counter design (4 8bit counter working on different clocks) with just an asynchronous reset and it failed. And on debug, found the LUT value implemented for buf was wrong in this design.
So I cross checked how did the first design (16b

[2021-05-05 12:38] tpagarani commented on #246
@mkurc-ant I am suspecting that LUT table for buffers is not correct. We might have to look at the rotation table

https://github.com/QuickLogic-Corp/symbiflow-arch-defs/blob/master/quicklogic/qlf_k4n8/utils/repacker/repack.py#L192
Since the input port mapping in case of our LUT4 is reversed of .names

[2021-05-05 12:40] mkurc-ant commented on #246
Right, let me look into the repacker code. I suspect that the issue is there.

[2021-05-06 12:20] acomodi commented on #237
@lnsharma To be clear, the intention is to constrain the clocks based on the pin names rather than the net names?

E.g.:
- clock net: clk
- pin associated to the clk: A3
- SDC command: `create_clock A3 -period <period>`

At the moment, VPR applies clock constraints on nets, not on pins.

[2021-05-07 11:20] acomodi commented on #237
Ok, thanks for the clarification

[2021-05-11 07:08] mkurc-ant commented on #239
The checksum was added with this PR: https://github.com/QuickLogic-Corp/ql_fasm/pull/8.

[2021-05-11 09:56] mkurc-ant commented on #238
@lnsharma Could you elaborate more on how do you want to refer to clock inputs in PCF? I haven't seen any mention of any dedicatec clock input pins in any of the pinmap files.

I presume that global clock inputs are implicit because we don't route clocks in VPR. But we need to known how they are connected to the `clb` and `io` tile pins so that we can map PCF constraints to repacker constraints.

[2021-05-11 12:13] mkurc-ant commented on #238
@lnsharma So essentially you want to constrain the clock in PCF mostly the same way as it is now done via JSON file? So that a user specifies `set_clock <net name> <clock name>`?

Would it be ok if we name the clocks `clk0`, `clk1`, `clk2` and `clk3` (uppercase would also be ok)? This way we will be able to map them 1-to-1 to repacker constraints.

[2021-05-11 12:54] lnsharma commented on #238
Sure, you can rename that. I just need to ensure that generated lib file should have the similar clock names.

[2021-05-12 07:03] mkurc-ant commented on #246
With the fix from https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/253 the issue should no longer emerge.

[2021-05-12 08:21] mkurc-ant commented on #244
The design `multi_enc_decx2x4` fails on routing due to congestion. There are two possible things that could solve the problem:
 - Fixing https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/242
 - Re-enabling buffer LUT absorption in VPR followed by fixing all the issues caused by it in the repacker

I couldn't find the `unsigned_mult_60` test desgin on current master branch.

[2021-05-12 08:26] kkumar23 commented on #244
Here are more designs which fail at router :
designs/unsigned_mult_80
designs/e_sdio_host_controller
designs/cavlc_top

@tpagarani : can comment on the approach to take

[2021-05-12 10:35] mkurc-ant commented on #237
@lnsharma So effectively you want a user to be able to provide chip pin names in SDC like in one of the examples from the pin mapping tutorial:
[code]

Do you also want to allow users to provide net names instead pin names (as it is currently supported) too or you just want to support only pin names ?

[2021-05-12 14:49] kkumar23 opened #259 "post layout simulation fail"
I ran simualtion for the below design on the file:
the post layout file <top module>_post_synthesis.v for the design

 counter_16bit design. : PASS
 counter_4clk design : FAIL

SDF file when used: It shows the below error:
** Error (suppressible): (vsim-SDF-12090) D:/Open_core/symbiflow_MAIN/Simulation/post_layout/top_post_synthesis.sdf(2628): Failed to find matching specify timing constraint for

[2021-05-12 22:39] timsaxe opened #260 "changing sdc file does not trigger rebuild"
I had completed a ql_symbiflow -compile ......

and changed the sdc file.  Subsequent ql_symbiflow thought .bit was up-to-date and did nothing.

[2021-05-13 08:50] mkurc-ant commented on #259
@kkumar23 I've build post-layout files for the `counter_4clk` design. I cannot see anything suspicious at lines 2630 and 2631 in the SDF:
[code]

Could you please attach the files that you are using for the simulation? Also please tell what software you are using.

[2021-05-13 09:15] kkumar23 commented on #259
Hi @mkurc-ant : I am using questasim tool.
The design is failing functionally[even if i do not use sdf]
With sdf i get the errors:
[questasim.log](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/6471513/questasim.log)
[top_post_synthesis.txt](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/6471517/top_post_synthesis.txt)

[2021-05-13 11:55] #202 closed

[2021-05-18 15:29] kkumar23 opened #264 "Toolchain wrapper shows error while repacking"
The file symbiflow_repack in the toolchain wrappers takes pcf file as input.
The file path is not parsed correctly and shows the below error if a design is run using pcf.

repack.py: error: argument --pcf-constraints: expected one argument

[2021-05-18 15:33] #176 closed

[2021-05-18 15:38] kkumar23 commented on #238
verified the clk constraints in the pcf.

[2021-05-18 15:38] #238 closed

[2021-05-18 15:39] #132 closed

[2021-05-18 15:41] kkumar23 commented on #234
@acomodi : I believe it is under progress. Please add relevant testcases along with the PR.

[2021-05-18 15:44] acomodi commented on #234
@kkumar23 Actually this was already merged and the testcases already do make use of one of the corners. The only missing thing is actually the correct corner data (I have duplicated the numbers at the moment, and the fast and slow corners share the same delays)

[2021-05-18 15:45] kkumar23 commented on #246
@rakeshm75 : If verified please close this issue

[2021-05-18 16:30] #234 closed

[2021-05-19 03:47] kkumar23 opened #266 "Designs having more than 4 clocks may have functional issues"
qlf_k4n8 supports only 4 global clks. More than that clocks are mapped to regular IOs and there could be functional issues/routing issues.
This needs to be supported. May be later.

[2021-05-20 11:59] kkumar23 opened #270 "setup framework to verify toolchain"
Setup test framework to verify the toolchain wrappers.

[2021-05-20 12:05] kkumar23 commented on #236
Duplicate of #259

[2021-05-21 15:31] #270 closed

[2021-05-27 08:34] kkumar23 opened #303 "Verilog compilation options in the toolchain wrapper"
support synthesis options for the yosys in the toolchain wrapper scripts.
1> If multiple folders needs to be added
2> mutliple verilog files with selected extension.
3> Add file which has list of all verilog files.
and other options can be added from : http://www.clifford.at/yosys/cmd_read_verilog.html

Since you will be looking at toolchain wrappers, can you also add support for k6n10 in the wrap

[2021-05-27 13:18] rakeshm75 commented on #246
This issue is fixed, so closing this issue.

[2021-05-27 13:18] #246 closed

[2021-05-27 13:27] rakeshm75 opened #305 "Shift register design which is not multiple of 8 register is not working"
Tool reports error for shift register design which has registers not multiple of 8. Attached is a shift register design with 12 flops (12 registers). The tool reports the following error:

Error 1:
Type: Packing
File: /home/runner/work/conda-eda/conda-eda/workdir/conda-env/conda-bld/vtr-optimized_1616063160078/work/vpr/src/pack/cluster.cpp
Line: 2337
Message: Can not find any logic block that can

[2021-05-27 14:07] mkurc-ant commented on #244
@kkumar23 I added the following tests to my WIP branch where I'm integrating enabled CLB input equivalence:
- multi_enc_decx2x4
- unsigned_mult_80
- e_sdio_host_controller
- cavlc_top
- sdio_client_top

All of them have passed routing.

Although the test under `features/clk_verify` fails. The actual failing check looks for the following regex in `route.log`:
[code]
So it basically expect fmax to b

[2021-05-27 14:09] kkumar23 commented on #244
@mkurc-ant : Yes, keep the range +/- 20%

[2021-06-02 07:09] mkurc-ant commented on #303
This PR adds support for those options: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/318

[2021-06-02 07:18] mkurc-ant commented on #305
It looks like this is an issue with VPR chain molecule packing. The `sh_dff` cell has only one output port that is used for chaining hence VPR cannot route it out of a cluster in a mid-chain position. There is also no possibility to begin a chain in the middle of a physical 8-long chain.

To solve that probably a second virtual output port needs to be added to `sh_dff`. Then the repacker may take

[2021-06-02 07:21] mkurc-ant commented on #244
Ok, with https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/309 merged all the test cases pass. In that PR I've updated the reference max frequency for `features/clk_verify`

[2021-06-02 07:24] mkurc-ant commented on #236
With https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/273 merged it is now possible to get post layout Verilog netlist and SDF file and use it eg. with Icarus Verilog.

[2021-06-02 10:24] mkurc-ant commented on #305
This PR adds a connection to the VPR architecture that allows VPR to utilize chains that are not a multiple of 8: https://github.com/QuickLogic-Corp/OpenFPGA-QLF_K4N8/pull/211

[2021-06-02 18:33] #259 closed

[2021-06-02 18:33] #236 closed

[2021-06-02 18:35] kkumar23 opened #322 "Make install support for qlf_k6n10"
make install is failing for k6n10.
Also tool chain wrapper support is required for k6n10 till router.

[2021-06-03 14:46] kkumar23 commented on #322
Toolchain wrappers i have upadated https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/324 please review.
For k6n10 make install, does not install scripts and techmaps folders.
fasm is still not supported for k6n10.

[2021-06-04 07:29] kkumar23 commented on #322
@mkurc-ant : few more things to be added will be the package uploaded to have both k4n8 and k6n10 files.
We need to provide build to customer today, so please consider this as priority.

[2021-06-04 08:09] mkurc-ant commented on #322
@kkumar23 Ok, you can merge #324. I'll check and fix CI so that data files for k6n10 are included in the package

[2021-06-08 11:22] #303 closed

[2021-06-08 11:22] #244 closed

[2021-06-08 11:29] #183 closed

[2021-06-11 04:33] #237 closed

[2021-06-11 04:33] #322 closed

[2021-06-11 04:34] #242 closed

[2021-06-15 10:23] kkumar23 opened #360 "No frequency reported and utilization variation seen"
for the design dct_mac : https://github.com/QuickLogic-Corp/ql_designs/tree/00046926f286d008294c46dafe6884d957629c38/dct_mac/dct_mac.v
Resource utilization:
for qlf_k4n8 :
CLB: 88.0	FF: 51.0	IO: 54.0

But when used for qlf_k6n10
CLB : 1 FF : 1  IO : 27
There is wide difference and looks like yosys is optimizing/removing some part of the design

[2021-06-21 12:54] kkumar23 opened #377 "sdf errors during load"
sdf shows errors while loading in questasim. Where as iverilog its fine.

Take any designs and run post -layout simulation with sdf file. It shows below error in questa/modelsim.

# ** Error (suppressible): (vsim-SDF-12090) D:/Open_core/Releases/testing/counter/build/counter_post_synthesis.sdf(321): Failed to find matching specify timing constraint for SETUP.
# ** Error (suppressible): (vsim-SDF-1

[2021-06-23 05:03] kkumar23 opened #379 "bitstream issue"
For a simple register design , we see that the functional simulation using the bitstream file does  not go through.
Sending out the complete details over the mail.

[2021-06-23 16:13] kkumar23 commented on #379
it was related to the vpr version not updated.

[2021-07-12 07:20] mkurc-ant commented on #305
@kkumar23 The change in architecture merged with the PR from the previous comment should have fixed the issue. From now on shift regs that are not a multiple of 8 should work correctly.

[2021-07-12 07:32] mkurc-ant commented on #29
Is this issue still relevant? In the recent effort for merging PP3 (EOS-S3) support into the SymbiFlow master branch care is taken to ensure that all submodules point to correct commits. Everything is verified by CI which hasn't reported an error similar to this so far.

[2021-07-12 07:32] mkurc-ant commented on #240
Implementing fasm2bels for `qlf_k4n8` is currently being worked on.

[2021-07-12 07:34] smunaut commented on #29
Probably not.

[2021-07-13 03:43] kkumar23 commented on #305
@rakeshm75 : Can you please validate this and close?

[2021-07-13 09:18] mkurc-ant commented on #305
I've created a test with a shift register of length 12. Please take a look: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/416

[2021-07-16 11:01] rakeshm75 commented on #305
Issue resolved.

[2021-07-16 11:01] #305 closed

[2021-07-26 12:28] #266 closed

[2021-08-11 09:03] acomodi opened #459 "Add support for PP3 architecture"
To add support, the following will be required

- adding new targets for the generation of the architecture files
- adapting the scripts and testing the generation of the RR graph
- adding all available tests for the PP3 device

[2021-08-11 09:05] acomodi opened #460 "Add bitstream generation support for PP3"
After adding and initial support for the PP3 in the arch-defs flow (https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/459), the next step is to get support for bitstream generation as well.

[2021-08-11 09:07] acomodi opened #461 "Add fasm2bels support for PP3"
Fasm2bels is useful to verify and validate the toolchain flow, therefore. This step can be completed once the full flow until bitstream generation is enabled for the PP3 archs.

Depends on:
https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/459
https://github.com/QuickLogic-Corp/symbiflow-arch-defs/issues/460

[2021-08-11 09:10] acomodi opened #462 "Add PP3 in the toolchain installation"
As soon as the whole PP3 supported is thoroughly verified with fasm2bels and the various testsuites, the PP3 arch can be added to the installation package, and it would need to have a set of installation tests to verify that everything is working as expected.

Depends on:
#459
#460
#461

[2021-09-02 12:01] mkurc-ant commented on #459
With the #467 PR which has been merged the following things have been added:
 - targets for generating architecture files for PP3 (WD30 package)
 - targets for the `jimbob4` board
 - targets for installation of device files (toolchain wrappers themselves are not updated yet!)
 - basic tests (async logic using LUTs, counter)

The SymbiFlow flow works until FASM file generation, bitstream generarati

[2021-09-02 12:05] mkurc-ant commented on #460
The `quicklogic-fasm` utility has been generalized to support `EOS-S3`, `PP3` and `PP3E` in the future with https://github.com/QuickLogic-Corp/quicklogic-fasm/pull/14. For that the `QL732B-cdl.cmd` file has been checked in for EOS-S3: https://github.com/QuickLogic-Corp/EOS-S3/pull/10

The PR with SymbiFlow integration (CMake flow only) is open: https://github.com/QuickLogic-Corp/symbiflow-arch-def

[2021-09-02 12:12] mkurc-ant commented on #462
There has been an issue discovered with the CI tests on `QuickLogic-Corp/symbiflow-arch-defs`. The scripts were not testing the installed toolchain properly hence some targets for `EOS-S3` were not working properly.

The ongoing work includes fixing the CI followed with adding `PP3` support to the toolchain wrappers.

[2021-09-02 12:17] mkurc-ant opened #498 "Verify post-pnr simulation for PP3"
Once PP3 support is merged to master verify that post-pnr simulation using Verilog netlist and SDF timing annotation generated by VPR can be used to simulate a design.

[2021-09-07 12:13] lpawelcz commented on #460
https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/488 has been merged. Working on bitstream generation support in:  https://github.com/QuickLogic-Corp/quicklogic-fasm/pull/15

[2021-09-08 08:58] mkurc-ant commented on #498
A PR is open (https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/504) with all the necessary fixes required for running post-pnr simulations for PP3

[2021-09-08 08:59] mkurc-ant commented on #462
With the PR (https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/488) merged both the CI got fixed and PP3 support was added to the installed toolchain.

[2021-09-21 03:44] anthonyle-ql opened #534 "Daily build: Counter_16bit fails VPR step"
I am able to build the code and run the command below. I got errors and would like to report the error. Where is the right place to report this error? Attached is VPR log file.

[vpr_stdout.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/7200055/vpr_stdout.zip)

[2021-09-21 23:13] carlosedp opened #538 "Not possible to call the wrapper by passing the file name"
The way the wrapper scripts are, it's not possible to call the scripts without setting an environment variable as the Toplevel name that ends generating the output binary and header.

The ideal way would be able to pass it as an argument and use the env var as a fallback in case no argument is present. This way it's much easy to integrate the pipeline with tools like [FuseSoc](https://github.com/o

[2021-09-21 23:18] carlosedp commented on #538
I believe something like:

[code]

Would work.

[2021-09-22 00:44] anthonyle-ql commented on #534
I change the command to: ql_symbiflow -compile -d ql-pp3 -t top -v counter_16bit.v -p counter_16bit.pcf
The tool is able to go further than the VPR step.

The next failure is missing pinmap. The error is ERROR: Failed to parse the pinmap CSV file!

There is a pinmap_qlf_k4n8_umc22.csv in the folder. I updated the command to: ql_symbiflow -compile -d ql-pp3 -t top -v counter_16bit.v -p counter_16bi

[2021-09-22 01:25] anthonyle-ql commented on #534
I was able to get a little further by doing the followings:

1. Specified the -P to WD30 (which is the supported package)
2. Remove all of the IO settings in the PCF file and only keep set_io clk A3

Update command is: ql_symbiflow -compile -d ql-pp3 -v counter_16bit.v -t top -P WD30 -p counter_16bit.pcf

The tool passes VPR and still fail. See attached log.

[top.zip](https://github.com/QuickLogi

[2021-09-22 01:28] anthonyle-ql commented on #534
I was able to get a little further by doing the followings:

Specified the -P to WD30 (which is the supported package)
Remove all of the IO settings in the PCF file and only keep set_io clk A3
Update command is: ql_symbiflow -compile -d ql-pp3 -v counter_16bit.v -t top -P WD30 -p counter_16bit.pcf

The tool passes VPR and still fail. See attached log
[top.zip](https://github.com/QuickLogic-Corp/sy

[2021-09-22 08:36] mkurc-ant commented on #534
@anthonyle-ql Could you attach the PCF file you use?

[2021-09-22 14:27] anthonyle-ql commented on #534
Please see attached .pcf file.

If it is not too much trouble, please share your .pcf file and the command that you have used to test the design using PP3 device. This would help to reduce the communication cycle. Thanks.

[counter_16bit.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/7211547/counter_16bit.zip)

[2021-09-22 14:48] mkurc-ant commented on #534
I can see that the constraint you have is incorrect:
[code]

You should use `set_io` to constrain IO ports:
[code]

I've created a PR with a fix to the IO constraint creation script: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/542. This will fix the Python script crash but you still need to correct the PCF.

[2021-09-22 15:03] anthonyle-ql commented on #534
I am able to get a successful run. I fixed the PCF: change clock name from clk[0] to clk and set_clk to set_io. The original PCF file needs update (as you have mentioned).

I will move forward to validate the generate bit file on HW.

[2021-09-22 15:03] #534 closed

[2021-09-23 03:25] anthonyle-ql opened #543 "There is no support for PP3 BGA package."
We would like to have the tool to support PP3 BGA package to support design with high IO counts. The current WLCSP package only has 18 GPIOs.

[2021-09-24 02:50] anthonyle-ql opened #549 "can't find qlfasm command for ql-eos-s3 device"
Executing command: ql_symbiflow -compile -d ql-eos-s3 -P PD64 -v counter_16bit.v -t top -p counter_16bit.pcf shows error:

Writing Implementation FASM: top.fasm
The entire flow of VPR took 6.36279 seconds.
FASM extra: top_fasm_extra.fasm
/home/qlblue/tools/symbiflow_daily/quicklogic-arch-defs/bin/symbiflow_generate_bitstream: line 69: qlfasm: command not found

See attached PCF file and log file

[2021-09-24 03:39] anthonyle-ql commented on #460
I tested the latest Symbiflow with PP3 and there is no bit file generated.

Command: ql_symbiflow -compile -d ql-pp3 -P WD30 -v counter_8bit.v -t top -p wd30.pcf

Attached is all related files.
[test.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/7222134/test.zip)

[2021-09-24 17:15] rakeshm75 opened #555 "Error when PnR run on Counter_16bit design"
counter_16bit design with pcf file gives the following error :

Error 1:
Type: Placement file
File: top_constraints.place
Line: 5
Message: Invalid line 'ERROR: No GMUX location fro input CLOCK pad for net 'enable' at (32, 36, 0)' in file

PCF file:
set_io clk F3
set_io enable F1
set_io reset E4

[counter_16bit.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/7227443/counter_16bit.

[2021-09-27 02:03] anthonyle-ql commented on #549
The same error message also applies to pp3 device. There is no bit file generated due to this error.

[2021-09-27 03:52] anthonyle-ql opened #556 "Does current Symbiflow support generating SDF file for post place-and-route timing simulation?"
I can't find SDF file in the build folder of a counter_16bit design.

[2021-09-27 04:09] rakeshm75 opened #557 "Error when running design with FIFOs"
I am getting the following error when running attached design with FIFOs. It generates the eblif file but when running the PnR it gives the error:

Error 1:
Type: Packing
File: /home/runner/work/conda-eda/conda-eda/workdir/conda-env/conda-bld/vtr-optimized_1628838743670/work/vpr/src/pack/cluster.cpp
Line: 2376
Message: Can not find any logic block that can implement molecule.
	Atom i2c_register_re

[2021-09-27 04:44] anthonyle-ql commented on #556
I was able to generate the SDF file by using the -dump option; -dump post_verilog

[2021-09-27 04:44] #556 closed

[2021-09-27 07:21] mkurc-ant commented on #557
@rakeshm75 We are aware of this issue and working towards fixing it. Basically the techfile for `PP3` mentions many `RAM` pins as non-routable while they actually are routable (as in `EOS-S3`).

[2021-09-27 08:15] mkurc-ant commented on #555
@rakeshm75 I managed to reproduce the issue. There is a bug in the placement constraints generation script. I've created a PR with a fix: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/558

[2021-09-27 10:27] mkurc-ant commented on #543
@anthonyle-ql I've created a PR which adds the missing support: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/561

[2021-09-27 10:33] mkurc-ant commented on #549
@anthonyle-ql SymbiFlow depends on the `quicklogic_fasm` Python package to be installed in the system. This can be done via the following command:

[code]

[2021-09-27 15:20] anthonyle-ql commented on #549
@mkurc-ant , I tried the step and it still does not work. Thanks.

[2021-09-28 03:41] #549 closed

[2021-09-28 03:43] anthonyle-ql opened #562 "There is no bit file generated for both EOS S3 and PP3 device."
With the latest build, there is no bit file generated for either EOS S3 device or PP3 device. Without the bit file, I can't validate the output using PP3 HW.

[2021-09-28 08:29] mkurc-ant commented on #562
@anthonyle-ql I've created a PR with a fix to the wrapper scripts. This should solve the problem: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/567

[2021-10-06 11:22] mkurc-ant opened #590 "The bin2seven design for PP3 makes ABC9 segfault"
Apparently the design triggers segfault in `ABC9` in Yosys:
[code]

[2021-10-08 09:55] mkurc-ant commented on #590
This and other test failures in CI are probably caused by the recent update of `yosys-symbiflow-plugins` from `1.0.0_7_375_ge9e412b=20210813_070938` to `1.0.0_7_405_g041f93b=20210928_224703`

[2021-10-25 03:56] anthonyle-ql opened #627 "The generated bit file for QuickLogic PP3 device is not correct."
I created a simple 8-bit counter design and use the latest Symbiflow to compile and generate bit file to test with hardware. The command that I used to run the tool is:

ql_symbiflow -compile -d ql-pp3 -v cnt8.v -t top -P WD30 -p WD30.pcf -dump binary

The tool run thru all steps and generated a top.bi with file size of 394.3KB.

The bit file for PP3 is either configure using SPI Master mode or SP

[2021-10-28 03:32] anthonyle-ql opened #640 "Generate both SPI Slave bit file and SPI Master bit file as default"
Please help to add the feature to generate both bit files type, SPI Master and SPI Slave, as default. It is much easier to test SPI Slave file since it does not requires extra tool to program the flash device before the testing can start. Programming flash device that is installed on the PP3 EVK board is error prone.

[2021-11-03 00:36] anthonyle-ql commented on #640
Hi, do you have an estimate timeline for when this feature is available? Thanks.

[2021-11-05 03:14] anthonyle-ql commented on #627
Using the latest update, I am able to make modification to the generated bit file and use it in SPI Slave Mode to validate the operation. The bit file works and I am able to see the FPGA configured and operated correctly. The modification involves with:
1. Delete the first byte
2. Zero out the second byte

Due to lack of HW for testing SPI Master mode, I can't validate the file as is. However, sin

[2021-11-05 03:14] #627 closed

[2021-11-08 03:08] anthonyle-ql commented on #562
The latest Symbiflow build generates bit file for PP3 and EOS S3 devices.

[2021-11-08 03:08] #562 closed

[2021-11-08 03:11] anthonyle-ql opened #659 "Mechanism to select SPI CLK frequency for SPI Master bit file"
The current generated bit file for PP3 device has selected SPI CLK frequency of 20MHz. Please add method to select SPI CLK frequency of 5MHz or 20MHz.

Some HW system may not support SPI CLK at 20MHz.

[2021-11-09 13:02] lpawelcz commented on #640
Hi @anthonyle-ql,
this feature was introduced in https://github.com/QuickLogic-Corp/quicklogic-fasm/pull/21. From now on the bitstream generation process for PP3 should generate bitstreams in 3 different modes simultaneously:
* Enabled SPI master mode - it will have original file name
* Enabled SPI slave mode - original file name and "_spi_slave" substring
* No header and checksum - original file

[2021-11-15 08:33] mkurc-ant commented on #557
This issue should be now solved via https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/613

[2021-11-15 08:35] mkurc-ant commented on #555
As https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/558 is merged now and a design with a counter driven by a global clock is part of the CI test for the installed toolchain this issue should be solved.

[2021-11-15 08:37] mkurc-ant commented on #543
The PR https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/561 is merged so this issue should be considered as solved.

[2021-11-15 12:03] rakeshm75 opened #677 "VQ file: bus signal are split into individual signals"
In the VQ file (Verilog post-layout netlist), the bus signals are split into individual signals:

Its should be:
   output [15:0] count;

In VQ file:
    output \count[0] ,
    output \count[1] ,
    output \count[2] ,
    output \count[3] ,
    output \count[4] ,
    output \count[5] ,
    output \count[6] ,
    output \count[7] ,
    output \count[8] ,
    output \count[9] ,
    output \count[10

[2021-11-15 13:41] mkurc-ant commented on #677
@rakeshm75 @lnsharma This is done intentionally. The problem is that for post-layout simulation with Icarus Verilog all cell ports (including top-level) must be 1-bit wide because Icarus does not support SDF annotations for wide ports. There is even an issue reported in its main repository: https://github.com/steveicarus/iverilog/issues/509

[2021-11-16 04:06] anthonyle-ql commented on #640
Confirmed that the latest daily build has created 3 different bit files as stated. The bit files failed to work correctly when tested with JB3 (the same board in Antmicro). Attached is the zip file that contains the followings:
1. RTL folder: 24bit counter design with the top 4 bits mapped to LEDs. One of the bit is mapped to the LED of the JB3.
2. Script: DOS Command script to execute commands to

[2021-11-16 10:59] lnsharma commented on #677
@mkurc-ant : Is it feasible to generate 2 vq files - one with all cell ports of 1-bit wide and other with vector representation of cell ports? These files can  then be accordingly used in different simulators?

[2021-11-19 07:21] lpawelcz commented on #659
PRs https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/683 and https://github.com/QuickLogic-Corp/quicklogic-fasm/pull/24 changed the default settings of PP3 assembler which include setting the SPI CLK frequency to 5MHz.

[2021-11-19 07:23] lpawelcz commented on #640
After merging https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/683 and https://github.com/QuickLogic-Corp/quicklogic-fasm/pull/24 we were able to build SPI slave bit file that was tested on device. Hardware was configured successfully and the function was working.
The problem is in default bitstream that is overlaid by the actual design. For now this feature is disabled. Another fixes t

[2021-11-19 15:31] anthonyle-ql commented on #659
Confirmed the default setting for SPI CLK in master mode is 5MHz. Will document how to change frequency using binaries tool.

[2021-11-19 15:31] #659 closed

[2021-11-19 15:42] anthonyle-ql commented on #640
Confirmed validation of both SPI Master file and SPI Slave file. The no CRC and CheckSum file does not configured the FPGA. Since PP3 configuration is done via SPI Slave or SPI Master, this item is completed.

[2021-11-19 15:42] #640 closed

[2021-11-23 15:30] anthonyle-ql commented on #543
Confirmed latest build supports PD64 package.

[2021-11-23 15:30] #543 closed

[2022-01-09 14:25] rakeshm75 opened #766 "Compilation error in the new output Verilog netlist file (top_post_synthesis.no_split.v file)"
With the new VQ file (top_post_synthesis.no_split.v) supporting the bus signals, we get syntax error when compiling in the simulator:

# ** Error: D:/Tamar2/System_Engineering/AntMicro/QLSOFA/OpenFPGA-ArcticPro3/pre_main_physical/SymbiFlow/k4n8/postlayout_sim/counter_16bit/top_post_synthesis.no_split.v(1350): (vlog-2730) Undefined variable: 'in'.
# ** Error: (vlog-13069) D:/Tamar2/System_Engineeri

[2022-01-10 02:39] tpagarani commented on #766
@mkurc-ant, could you please look into this on priority?

[2022-01-10 08:23] mkurc-ant commented on #766
@tpagarani Sure, I can work on solving that. @rakeshm75 Could you point me to the git revision you are using and if possible to the design that exposes the issue too?

[2022-01-10 10:38] rakeshm75 commented on #766
@mkurc-ant, I am using the latest Symbiflow version. I have attached the counter_16bit design here which can reproduce the issue.

[counter_16bit.zip](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/files/7838227/counter_16bit.zip)

[2022-01-10 11:13] mkurc-ant commented on #766
@rakeshm75 Thanks.

[2022-01-14 15:43] lpawelcz commented on #766
https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/777 is now merged. It should fix your problems @rakeshm75. Please check your design with updated symbiflow.